.message {
    width: 100%;
    min-height: 53px;
    flex: 0 0 auto;
    box-sizing: border-box;
    bottom: 0;
    padding: 10px 110px 10px 40px;
    overflow-y: auto;
    scrollbar-width: none;
    border: none;
    font-size: medium;
    color: rgb(54, 62, 69);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border-color: beige;
    margin-left: 3px;
    height: auto;
    resize: none;
    align-content: center;
    max-height: 300px;
}

.message::placeholder {
    color: rgb(54, 62, 69);
}

.box {
    /*margin-top: 3px;*/
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    /* background-color: dimgrey; */
    height: 10%;
    position: relative;
}

.messageContainer {
    position: absolute;
    border: none;
    bottom: 14px;
    width: 65%;
    display: inline-block;
}

.emojiPopup {
    position: fixed;
    bottom: 12%;
    right: 5%;
}


.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 15px;
    bottom: 10px;
    gap: 15px;
    margin-bottom: 3px;
}

.currentSettings {
    background: none;
    border: none;
}

.firstCurrentSettings {
    background: none;
    border: none;
    bottom: 10px;
    position: absolute;
    margin: 4px;
    z-index: 1;
}
