#message {
    width: 100%;
    height: 40px;

    flex: 0 0 auto;
    box-sizing: border-box;
    /* padding: 10px; */
    bottom: 0;
    /* position: absolute; */
    margin: 0;
    padding: 8px 40px;
}

.messageContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: inline-block;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 3px;
}

.currentSettings {
    background: none;
    border: none;
}