.body-main {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    /* background-color:blue; */
}

.Img {
    object-fit: cover;
    background-size: cover;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    background-image: url('../picture.jpg');
}
