
.chat-bar {
    /*height: 80px;*/
    /*background-color: #2b6fae;*/
    /*border: solid;*/
}

.button {
    height: 85px;
    width: 100%;
    background-color: #2b6fae;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;

}

.buttonnotactual {
    height: 85px;
    width: 100%;
    background-color: #4aa1f2;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid ;
    border-width: 1px;
    border-bottom-color: #282c34;
}

#chat-information {
    display: flex;
    flex-direction: column;
    /*float: left;*/

}


#chatName-time{
    /*display: inline;*/
    /*flex-direction: row;*/
    /*gap: 120px;*/
    /*float: left;*/
    /*align-items: stretch;*/
}
#chatName{
    float: left;
}
#time{
    float: right;
}
#last-message{
    float: left;
}
span {
    width: 90%;
    padding: 0;
}
#to-left{
    float: left;
}