.contacts {
    width: 330px;
    height: 270px;
    margin: 0 auto;
  } 

.header {
    padding: 10px;
    font-size: 20px;
    word-wrap: break-word;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space-collapse: break-spaces;
  }

.myContactsNames {
  padding: 0 10px;
  font-size: 16px;
  word-wrap: break-word;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  text-align: center;
}