.dialog-with-messages {
    display: flex;
    /*flex-direction: column-reverse;*/
    flex-direction: column;
    width: 65%;
    height: 100%;
    /* justify-content: flex-end; */
    overflow-y: auto;
}

.dialog-container {
    display: flex;
    flex-direction: column-reverse;
    max-height: 82%;
    height: 82%;
    align-items: center;
    overflow-y: auto;
}

div {
    -ms-overflow-style: none;
    scrollbar-width: none;
}