.header-of-body-main {
    height: 60px;
    width: 100%;
    border-left-color: dimgrey;
    border-left-style : solid;
    border-left-width: 1px;
    /*background-color: #4aa1f2;*/
}
.dialog-name{
    font-size: large;
    font-weight: bold;
    color: blue;
}
.status{
    font-size:small;
    /*color: white;*/
}