
.container {
    margin-bottom: 10px;
    clear: both;
    position: relative;
}
.container .arrow {
    width: 12px;
    height: 20px;
    overflow: hidden;
    position: relative;
    float: left;
    top: 6px;
    right: -1px;
}
.container .arrow .outer {
    width: 0;
    height: 0;
    border-right: 20px solid #000000;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.container .arrow .inner {
    width: 0;
    height: 0;
    border-right: 20px solid #ffffff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 0;
    left: 2px;
}
.container .message-body {
    max-width:400px;
    float: left;
    word-wrap:break-word;

    /*height: auto;*/
    border: 1px solid #CCC;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 6px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    /*display: flex;*/
    /*flex-direction: column;*/
}
.data{
    float: right;
    color: dimgray;
    font-size: small;
}
.container .message-body p {
    margin: 0;
    color: #2b6fae;
}
.author{
    color: #2b6fae;
    font-weight: bold;
}

.myContainer {
    margin-bottom: 10px;
    clear: both;
    position: relative;
}
.myContainer .arrow {
    width: 12px;
    height: 20px;
    overflow: hidden;
    position: relative;
    float: right;
    top: 6px;
    right: 1px;
    transform: rotate(0.5turn);
}
.myContainer .arrow .outer {
    width: 0;
    height: 0;
    border-right: 20px solid #000000;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.myContainer .arrow .inner {
    width: 0;
    height: 0;
    border-right: 20px solid #a0b3c4;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 0;
    left: 2px;
}
.myContainer .message-body {
    max-width:400px;
    float: right;
    word-wrap:break-word;

    /*height: auto;*/
    border: 1px solid #CCC;
    background-color: #a0b3c4;
    border: 1px solid #000000;
    padding: 6px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    /*display: flex;*/
    /*flex-direction: column;*/
}
.myContainer.data{
    float: right;
    color: dimgray;
    font-size: small;
}
.myContainer .message-body p {
    margin: 0;
    color: #2b6fae;
}
.myContainer.author{
    color: #2b6fae;
    font-weight: bold;
}
/*transform: rotate(0.5turn);*/