.SideBarHeader {
    text-align: center;
    height: 10%;
    /*border-color: red;*/
    /*border-bottom: solid;*/
    border-bottom-color: dimgrey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 6px;
    /*background-color : yellow;*/
}

.HeaderMenu {
    align-self: stretch;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    /*width: 200px;*/
    height: 30px;
    padding: 15px 2px;
    margin: 0;
    width: 100%;
}

.profile-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    width: 100%;
}

.HeaderNav {
    width: 100%;
    /*justify-content: center;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    /*align-self: stretch;*/
    /*gap: 8px;*/
}

input {
    border-radius: 7px;
    border: 1px solid rgb(52, 73, 94);
    background: #FFF;
    height: 30px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    overflow: hidden;
    display: inline-flex;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

form {
    width: 100%;
}

.switchButton {
    text-align: center;
    background: #fff;
    border-radius: 8px;
    height: 35px;
    float: right;
    margin: 0 8px;
}